<html>
    <body>
        Games in database:
        <div id="games">
            {{#each games}}
                    <div id="name">Game name:{{this.name}}</div>
                    <div id="publisher">Publisher:{{this.publisher}}</div>
                    <div id="publish">Published:{{formatDate this.publish}}</div>
                    <div id="genre">Genre:{{this.genre}}</div>
                    <div id="filename">File name:{{this.filename}}</div>
                    <div id="description">Description:{{this.description}}</div>
                    <div id="platforms">Platforms:{{this.platforms}}</div>
                    
                    <br>
                {{/each}}
        </div>
    </body>
</html>