<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>apdev-mp2</title>
</head>

<body>
    {{#if user}}
    {{> navbar-user}}
    {{else}}
    {{> navbar}}
    {{/if}}
    <div class="container">
        <div class="form-row" style="text-align: center;">
            <div class="col">
                <h4 class="text-left browse-heading">Browse</h4>
            </div>
        </div>

        <div class="browse-div">
            {{#each games}}
            <div class="browse-card">
                <div class="form-row">
                    <div class="col-xl-1 text-center browse-col"><img class="browse-img" src={{this.filename}}></div>
                    <div class="col browse-col">
                        <a href="/viewGame/{{{this._id}}}">
                            <h6 class="browse-game-head">{{this.name}}</h6>
                        </a>
                        {{#each genre}}
                        <span class="browse-genre-span">{{this}}</span>
                        {{/each}}
                    </div>
                    <div class="col platforms-col">
                            {{#each platforms}}
                            <span class="browse-plat">{{this}}</span>
                            {{/each}}
                        </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</body>

</html>