
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>apdev-mp2</title>
</head>

<body>
    {{#if user}}
        {{> navbar-user}}
    {{else}}
        {{> navbar}}
    {{/if}}
    
    {{#if game}}
    <div class="container">
        <div class="row">
            <div class="col-xl-3 game-col">
                <div class="side-content">
                    <div id="image-holder"><img src="{{{game.filename}}}" width="207px" height="276px"></div>
                    <span class="d-block side-content-headings" style="margin-top:30px">PLATFORMS</span>
                    {{#each game.platforms}}
                    <span class="d-block side-content-span">{{this}}</span>
                    {{/each}}
                    <span class="d-block side-content-headings">DATE RELEASED</span>
                    <span
                        class="d-block side-content-span">{{formatDate game.publish}}</span><span class="d-block side-content-headings">PLAYERS</span><span class="d-block side-content-span">{{count}}</span>
                        <div id="button-holder">
                            {{#if user}}
                            {{#if notListed}}
                            <form class="add-list-form" method="POST" action="/addList/{{{game._id}}}">
                                <button id="add-list-toggle" class="btn btn-primary add-to-list" type="button">+ Add to List</button>
                                <div id="select-container">
                                    <select name="status" class="select-status">
                                        <option value="Playing">Playing</option>
                                        <option value="Completed">Completed</option>
                                        <option value="Planning">Planning</option>
                                        <option value="Dropped">Dropped</option>
                                    </select>
                                    <button id="submit-status" class="btn btn-primary submit-list" type="submit">Confirm</button> 
                                </div>
                            </form>
                            {{else}}
                            <form class="add-list-form" method="POST" action="/updateStatus/{{{game._id}}}">
                                <button id="add-list-toggle" class="btn btn-primary add-to-list" type="button">Change Status</button>
                                <div id="select-container">
                                    <select name="status" class="select-status">
                                        <option value="Playing">Playing</option>
                                        <option value="Completed">Completed</option>
                                        <option value="Planning">Planning</option>
                                        <option value="Dropped">Dropped</option>
                                    </select>
                                    <button id="submit-status" class="btn btn-primary submit-list" type="submit">Confirm</button> 
                                </div>
                            </form>
                            {{/if}}
                            {{/if}}
                        </div>
                </div>
            </div>
            <div class="col">
                <div class="game-page">
                    <h1 class="game-head">{{game.name}}</h1>
                    <h4 class="game-publisher">{{game.publisher}}</h4>
                    <h4 class="game-score">{{aveRating}} / 10</h4>
                </div>
                <div class="genre-list"></div>
                    {{#each game.genre}}
                    <span class="genre-span">{{this}}</span>
                    {{/each}}
                    <div class="game-desc">
                        <h4 class="gamepage-label"><strong>Description</strong></h4>
                        <p class="desc-p">{{game.description}}<br></p>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col">
                <div class="game-review">
                    <h4 class="review-label"><strong>Reviews</strong></h4>
                    {{#if user}}
                    {{#if notListed}}
                    {{else}}
                    <button id="add-review-toggle" class="btn btn-primary" type="button">{{#if isReviewed}}Edit Review {{else}}+ Add Review{{/if}}</button>
                    <form id="review-form" method="POST" action="/addReview/{{{game._id}}}">
                        <span class="review-score">Rating:</span> 
                        <select name="rating" class="rating-select">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <span class="review-score">/10</span>
                        <textarea class="review-area" name="review" placeholder="Write your insights here! (optional)"> {{#if isReviewed}}{{reviewedtext}}{{/if}}</textarea>
                        <button id="add-review" class="btn btn-primary submit-review" type="submit">Submit</button> 
                    </form>
                    {{/if}}{{/if}}
                    {{#each reviews}}
                    <div class="review-content"><span class="d-block reviewer">{{this.username}}</span><span class="review-score">{{this.rating}} out of 10</span>
                        <p class="review-p">{{this.review}}<br><br></p>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</body>

</html>