<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>apdev-mp2</title>
</head>

<body>
    {{#if user}}
        {{> navbar-user}}
    {{else}}
        {{> navbar}}
    {{/if}}
    {{#if game}}
    <div class="container">
        < class="row">
            <div class="col-xl-3 game-col">
                <div class="side-content">
                    <div id="image-holder"><img src="../assets/img/sample/Fate_stay_night_2006_Poster.jpg" width="100%" height="100%"></div><span class="d-block side-content-headings">PLATFORMS</span><span class="d-block side-content-span">{{this.platforms}}</span><span class="d-block side-content-headings">DATE RELEASED</span>
                    <span
                        class="d-block side-content-span">{{this.publish}}</span><span class="d-block side-content-headings">PLAYERS</span><span class="d-block side-content-span">69,000</span>
                        <div id="button-holder">
                            <form class="add-list-form">
                                <div class="dropdown"><button class="btn btn-primary dropdown-toggle add-to-list" data-toggle="dropdown" aria-expanded="false" type="button">+ Add to List</button>
                                    <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">Playing</a><a class="dropdown-item" role="presentation" href="#">Completed</a><a class="dropdown-item" role="presentation" href="#">Planning</a><a class="dropdown-item"
                                            role="presentation" href="#">Dropped</a></div>
                                </div>
                            </form>
                        </div>
                </div>
            </div>
            <div class="col">
                <div class="game-page">
                    <h1 class="game-head">{{this.name}}</h1>
                    <h4 class="game-publisher">{{this.publisher}}</h4>
                    <h4 class="game-score">{{aveRating}} / 10</h4>
                </div>
                <div class="genre-list"></div>
                {{#each this.genre}}
                <span class="genre-span">{{this}}</span>
                {{/each}}
                </div>
                <div class="game-desc">
                    <h4 class="gamepage-label"><strong>Description</strong></h4>
                    <p class="desc-p">{{this.description}}<br></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="game-review">
                    <h4 class="review-label"><strong>Reviews</strong></h4>
                    <div class="review-content"><span class="d-block reviewer">Taguroxxx</span><span class="review-score">6 out of 10</span>
                        <p class="review-p">"People die if they are killed." - Shirou Emiya&nbsp;<br>I'm baby chartreuse gluten-free cloud bread YOLO, meditation keytar lyft single-origin coffee kale chips dreamcatcher vegan. Lo-fi small batch four dollar toast, dreamcatcher
                            hexagon narwhal etsy cold-pressed. Post-ironic church-key occupy mixtape scenester kinfolk. 3 wolf moon gochujang kitsch drinking vinegar, 8-bit health goth paleo jean shorts prism biodiesel hot chicken farm-to-table. Cardigan
                            activated charcoal keytar irony. Synth yr hashtag everyday carry. Wolf ramps scenester authentic gochujang irony, flannel swag palo santo skateboard.<br><br></p>
                    </div>
                    <div class="review-content last"><span class="reviewer">Hatdawg</span><span class="review-score">6 out of 10</span>
                        <p class="review-p">"People die if they are killed." - Shirou Emiya&nbsp;<br>I'm baby chartreuse gluten-free cloud bread YOLO, meditation keytar lyft single-origin coffee kale chips dreamcatcher vegan. Lo-fi small batch four dollar toast, dreamcatcher
                            hexagon narwhal etsy cold-pressed. Post-ironic church-key occupy mixtape scenester kinfolk. 3 wolf moon gochujang kitsch drinking vinegar, 8-bit health goth paleo jean shorts prism biodiesel hot chicken farm-to-table. Cardigan
                            activated charcoal keytar irony. Synth yr hashtag everyday carry. Wolf ramps scenester authentic gochujang irony, flannel swag palo santo skateboard.<br><br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</body>

</html>