<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{game.name}}</title>
</head>

<body>
    <title>{{game.name}}</title>
    {{#if user}}
    {{> navbar-user}}
    {{else}}
    {{> navbar}}
    {{/if}}

    {{#if game}}
    <div class="container">
        <div class="gamepage-head">
            <div class="head-left">
                <div class="game-img"><img src="{{{game.filename}}}"
                        style="height: 100%; width: 100%; border-radius: 4px;"></div>
                <div class="action">
                    {{#if notListed}}
                    <form method="POST" action="/addList/{{{game._id}}}">
                    {{else}}
                    <form method="POST" action="/updateStatus/{{{game._id}}}">
                    {{/if}}
                        <div class="input-group mb-3" style="margin-top: 20px;">
                            <div class="input-group-prepend">
                                <button data-id="{{{game._id}}}" id="add-list-btn" class="btn btn-primary add-to-list" type="button" {{#if user}}{{#if notListed}}onclick="addGame()"{{else}} onclick="updateStatus()" {{/if}} {{else}} onclick="unauthorized()" {{/if}}>+ List</button>
                            </div>
                            <select id="select-status" class="custom-select select-status" name="status">
                                <option value="Playing">Playing</option>
                                <option value="Completed">Completed</option>
                                <option value="Planning">Planning to Play</option>
                                <option value="Dropped">Dropped</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="head-right">
                <div class="head-grid">
                    <div>
                        <div class="game-head">{{game.name}}</div>
                        <h4 class="game-publisher">{{game.publisher}}</h4>
                    </div>
                    <h2 class="game-score">{{aveRating}}</h2>
                </div>
                <div>
                    {{#each game.genre}}
                    <strong><a class="genre-span" href="/genre/{{{this}}}">{{this}}</a></strong>
                    {{/each}}
                </div>
                <p class="desc-p">{{game.description}}</p>
            </div>
        </div>
        <div class="gamepage-content">
            <div>
                <div class="side-content">
                <span class="d-block side-content-headings" style="margin-top: 0px;">PLATFORMS</span>
                    {{#each game.platforms}}
                    <a class="d-block side-content-span" href="/platform/{{{this}}}">{{this}}</a>
                    {{/each}}
                    <span class="d-block side-content-headings">DATE RELEASED</span>
                    <span
                        class="d-block side-content-span">{{formatDate game.publish}}</span><span class="d-block side-content-headings">PLAYERS</span><span id="count" class="d-block side-content-span">{{count}}</span>
                </div>
            </div>
            <div class="reviews">
                <span class="review-head">Reviews</span>{{#if notListed}}{{else}}{{#if user}}<i id="add-review-toggle" class="fa fa-edit edit-icon" ></i>{{/if}}{{/if}}
                <form id="review-form" method="POST" action="/addReview/{{{game._id}}}">
                        <strong>Rating:</strong> 
                        <select name="rating" class="rating-select">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <textarea class="review-area" name="review" placeholder="Write your insights here! (optional)"> {{#if isReviewed}}{{reviewedtext}}{{/if}}</textarea>
                        <button data-id={{game._id}} id="add-review" class="btn btn-primary submit-review" type="submit">Submit</button> 
                </form>
                {{#if reviews}}
                {{#each reviews}}
                <div class="review-div">
                    <div class="review-header">
                        <strong style="color: #13c4a3; font-size: 16px;">{{this.username}}</strong>
                        <div class="review-score">{{this.rating}}</div>
                    </div>
                    {{#if review}}
                        <p class="review-content">{{this.review}}</p>
                    {{/if}}
                </div>
                {{/each}}
                {{else}}
                <div class="review-div">
                    <div class="review-header">
                        No reviews to show.
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    {{/if}}
</body>

</html>