<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>apdev-mp2</title>
</head>
<body>
    {{#if user}}
        {{> navbar-user}}
        {{> prof-nav}}
    {{/if}}
    <div class="container prof-content">
        <div class="prof-content-grid">
            <div class="section">
                <h2 class="prof-header">Game List Overview</h2>
                <div class="status-grid">
                    <div class="status-item">
                        <div class="status" style="background-color: #13c4a3;">Playing</div>
                        <div class="amount" style="color: #13c4a3">{{playing}}<span class="entries">Entries</span></div>
                    </div>
                        
                    <div class="status-item">
                        <div class="status" style="background-color: #39a0ed;">Completed</div>
                        <div class="amount" style="color: #39a0ed">{{completed}}<span class="entries">Entries</span></div>
                    </div>

                    <div class="status-item">
                        <div class="status" style="background-color: #fff854; color: #20201e">Planning</div>
                        <div class="amount" style="color: #fff854">{{planning}}<span class="entries">Entries</span></div>
                    </div>

                    <div class="status-item">
                        <div class="status" style="background-color: #fc3d48;">Dropped</div>
                        <div class="amount" style="color: #fc3d48">{{dropped}}<span class="entries">Entries</span></div>
                    </div>
                </div>
                <div class="something">
                    <span class="percentage" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Playing" style="width: {{{playingPercent}}}; background-color:#13c4a3; border-bottom-left-radius: 7px;"></span>
                    <span class="percentage" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Completed" style="width: {{{completedPercent}}}; background-color:#39a0ed"></span>
                    <span class="percentage" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Planning" style="width: {{{planningPercent}}}; background-color:#fff854"></span>
                    <span class="percentage" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Dropped" style="width: {{{droppedPercent}}}; background-color:#fc3d48; border-bottom-right-radius: 7px;"></span>
                </div>
            </div>

            <div class="section">
                <h2 class="prof-header">Statistics</h2>
                <div class="stats-grid">
                    <div class="grid-item">
                        <div class="stat-num">{{total}}</div>
                        <div class="stat-label">Total Games</div>
                    </div>
                    <div class="grid-item">
                        <div class="stat-num">{{mean}}</div>
                        <div class="stat-label">Mean Score</div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>