<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>apdev-mp2</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Overpass">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Share+Tech">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link rel="stylesheet" href="../assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body>
    {{#if game}}
    <div class="container">
        <div class="row">
            <div class="col-xl-3 game-col">
                <div class="side-content">
                    <div id="image-holder"><img src="../assets/img/sample/Fate_stay_night_2006_Poster.jpg" width="100%" height="100%"></div><span class="d-block side-content-headings">PLATFORMS</span><span class="d-block side-content-span">
                        {{this.platforms}}
                        </span><span class="d-block side-content-headings">DATE RELEASED</span>
                    <span
                        class="d-block side-content-span">{{published}}</span><span class="d-block side-content-headings">PLAYERS</span><span class="d-block side-content-span">{{numPlayers}}</span>
                        <div id="button-holder"><button class="btn btn-primary d-inline-block add-to-list" type="button">+ Add to List</button></div>
                </div>
            </div>
            <div class="col">
                <div class="game-page">
                    <h1 class="game-head">{{this.name}}</h1>
                    <h4 class="game-publisher">{{this.publisher}}</h4>
                    <h4 class="game-score">{{aveRating}} / 10</h4>
                </div>
                <div class="genre-list">
                    {{#each this.genre}}
                    <span class="genre-span">{{this.genre}}</span>
                    
                    {{/each}}
                <div class="game-desc">
                    <h4 class="gamepage-label"><strong>Description</strong></h4>
                    <p class="desc-p">{{this.description}}<br></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="game-review">
                    <h4 class="review-label"><strong>Reviews</strong></h4>
                    {{#each reviews}}
                    <div class="review-content"><span class="d-block reviewer">{{this.user}}</span><span class="review-score">{{this.rating}} out of 10</span>
                        <p class="review-p">{{this.review}}<br><br></p>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>